In [20]:
import pandas as pd

In [21]:
trial_balance = pd.read_csv("trial_balance.csv")

In [22]:
trial_balance.head()

   acct_num       acct_type                      acct_name  acct_balance
0      1000  Current Assets  Accounts Receivable - 30 Days          1111
1      1002  Current Assets         Short Term Investments          1226
2      1004  Current Assets                      Inventory          1785
3      1006  Current Assets  Accounts Receviable - 90 Days          1800
4      1008  Current Assets     High Interest Cash Account           786

# Trial Balance Exploration
This exercise would be part of Lesson 3.1: Summary Methods

## Determine the total number of accounts in the trial balance.

In [23]:
#Assume that each account is represented by one row in the trial balance
trial_balance["acct_balance"].count()

85

## Calculate the dollar value of total revenues.

In [24]:
#We've used a boolean mask create a new DataFrame which only contains the revenue accounts:
revenues = trial_balance[trial_balance["acct_type"]== "Revenue"]
#Sum up the total account balances for these revenue accounts
revenues["acct_balance"].sum()

15312

## Calculate the total dollar value for each account type.

In [25]:
trial_balance.groupby("acct_type").sum()

                       acct_num  acct_balance
acct_type
Cost of Goods Sold        35042          5354
Current Assets            11110         11942
Current Liabilities       20090         16388
Long Term Assets          12418         13975
Long Term Liabilities      4202         10780
Other Expense            187954         24498
Revenue                   20020         15312
Shareholder's Equity      18030         13563

In [26]:
# We may want to remove the "acct_num" column since summing the account numbers doesn't add any value and might confuse a reader.

# Markdown prints

In [27]:
from tabulate import tabulate

In [28]:
print(tabulate(trial_balance.groupby("acct_type").sum(), tablefmt="pipe", headers="keys"))

| acct_type             |   acct_num |   acct_balance |
|:----------------------|-----------:|---------------:|
| Cost of Goods Sold    |      35042 |           5354 |
| Current Assets        |      11110 |          11942 |
| Current Liabilities   |      20090 |          16388 |
| Long Term Assets      |      12418 |          13975 |
| Long Term Liabilities |       4202 |          10780 |
| Other Expense         |     187954 |          24498 |
| Revenue               |      20020 |          15312 |
| Shareholder's Equity  |      18030 |          13563 |

In [29]:
print(tabulate(trial_balance.head(), tablefmt="pipe", headers="keys"))

|    |   acct_num | acct_type      | acct_name                     |   acct_balance |
|---:|-----------:|:---------------|:------------------------------|---------------:|
|  0 |       1000 | Current Assets | Accounts Receivable - 30 Days |           1111 |
|  1 |       1002 | Current Assets | Short Term Investments        |           1226 |
|  2 |       1004 | Current Assets | Inventory                     |           1785 |
|  3 |       1006 | Current Assets | Accounts Receviable - 90 Days |           1800 |
|  4 |       1008 | Current Assets | High Interest Cash Account    |            786 |